<md-list>
	<div ng-if="main.logout">Search for comments:
		<div>
			<input type="text" ng-model="main.key" placeholder="Enter your search keywords here...">
		</div>
		<div>
			<button type="button" ng-click="ul.searchComment()">Search</button>
		</div>
	</div>
	<p ng-if="main.logout">User list:</p>
	<md-list-item ng-repeat="u in ul.users">
	    
	    <a ng-href="#/users/{{u.id}}">{{u.first_name}} {{u.last_name}} </a>

	</md-list-item>

	<div ng-if="main.logout">Your favorites:
		<div>
			<a ng-href="#/favorites" >Show your favorites!</a>

		</div>
	</div>

</md-list>